In [27]:
import numpy as np
import nashpy as nash
import support_enumeration as se
import BNE as BNE
from IPython.display import display

# Eksamenssæt 2021

## Opgave 1:

##### 1.1 Antag p = 1: Find alle Nash-ligevægte.

In [28]:
U1V = np.array([[1, -1], [-1, 1]])
U2V = np.array([[-1, 1], [2, -1]])

NE1 = se.msne(U1V, U2V)

print(NE1)

[(array([0.6, 0.4]), array([0.5, 0.5]))]

##### 1.2 Antag p = 0: Find alle Nash-ligevægte.

In [29]:
U1H = np.array([[1, -1], [-1, 1]])
U2H = np.array([[-1, 2], [1, -1]])

NE2 = se.msne(U1H, U2H)

print(NE2)

[(array([0.4, 0.6]), array([0.5, 0.5]))]

##### 1.3 Find alle Bayesianske Nash-ligevægte

In [32]:
U1 = [U1V,U1H]
U2 = [U2V,U2H]

action = ['V','H']

for i in range(1,8):
    BU1, BU2 = BNE.compute_full_matrix(U1,U2,(i/8), action, action)
    result = BNE.compute_bne(BU1[0], BU2[0])
    print(f"p = {i/8}: BNE {result}")
    display(BU1[1])
    display(BU2[1])

p = 0.125: BNE [(array([0.4, 0.6]), array([0.42857143, 0.57142857, 0.        , 0.        ]))]

    VV    VH    HV   HH
V  1.0 -0.75  0.75 -1.0
H -1.0  0.75 -0.75  1.0

      VV     VH    HV     HH
V -1.000  1.625 -0.75  1.875
H  1.125 -0.625  0.75 -1.000

p = 0.25: BNE [(array([0.4, 0.6]), array([0.33333333, 0.66666667, 0.        , 0.        ]))]

    VV   VH   HV   HH
V  1.0 -0.5  0.5 -1.0
H -1.0  0.5 -0.5  1.0

     VV    VH   HV    HH
V -1.00  1.25 -0.5  1.75
H  1.25 -0.25  0.5 -1.00

p = 0.375: BNE [(array([0.4, 0.6]), array([0.2, 0.8, 0. , 0. ]))]

    VV    VH    HV   HH
V  1.0 -0.25  0.25 -1.0
H -1.0  0.25 -0.25  1.0

      VV     VH    HV     HH
V -1.000  0.875 -0.25  1.625
H  1.375  0.125  0.25 -1.000

p = 0.5: BNE []

/opt/anaconda3/lib/python3.11/site-packages/nashpy/algorithms/support_enumeration.py:260: RuntimeWarning:
An even number of (0) equilibria was returned. This
indicates that the game is degenerate. Consider using another algorithm
to investigate.

  warnings.warn(warning, RuntimeWarning)

    VV   VH   HV   HH
V  1.0  0.0  0.0 -1.0
H -1.0  0.0  0.0  1.0

    VV   VH   HV   HH
V -1.0  0.5  0.0  1.5
H  1.5  0.5  0.0 -1.0

p = 0.625: BNE [(array([0.6, 0.4]), array([2.77555756e-17, 8.00000000e-01, 0.00000000e+00, 2.00000000e-01]))]

    VV    VH    HV   HH
V  1.0  0.25 -0.25 -1.0
H -1.0 -0.25  0.25  1.0

      VV     VH    HV     HH
V -1.000  0.125  0.25  1.375
H  1.625  0.875 -0.25 -1.000

p = 0.75: BNE [(array([0.6, 0.4]), array([0.00000000e+00, 6.66666667e-01, 2.77555756e-17, 3.33333333e-01]))]

    VV   VH   HV   HH
V  1.0  0.5 -0.5 -1.0
H -1.0 -0.5  0.5  1.0

     VV    VH   HV    HH
V -1.00 -0.25  0.5  1.25
H  1.75  1.25 -0.5 -1.00

p = 0.875: BNE []

/opt/anaconda3/lib/python3.11/site-packages/nashpy/algorithms/support_enumeration.py:260: RuntimeWarning:
An even number of (0) equilibria was returned. This
indicates that the game is degenerate. Consider using another algorithm
to investigate.

  warnings.warn(warning, RuntimeWarning)

    VV    VH    HV   HH
V  1.0  0.75 -0.75 -1.0
H -1.0 -0.75  0.75  1.0

      VV     VH    HV     HH
V -1.000 -0.625  0.75  1.125
H  1.875  1.625 -0.75 -1.000