In [13]:
import os, sys
sys.path.insert(0, os.path.abspath('..'))
import numpy as np
import nashpy as nash
from IPython.display import display
import support_enumeration as se
import BNE as BNE
import IESDS as IESDS

### 1.1

### 1.2

In [14]:
for theta in [-1/10, 0, 1/10]:
    U1 = np.array([[(1/2) + theta, 1], 
                   [1, (1/2) - theta]])
    U2 = np.array([[-(1/2) - theta, -1], 
                   [-1, -(1/2) + theta]])

    NE = se.msne(U1, U2)

    print(NE)

[(array([0.4, 0.6]), array([0.4, 0.6]))]
[(array([0.5, 0.5]), array([0.5, 0.5]))]
[(array([0.6, 0.4]), array([0.6, 0.4]))]

### 1.3

Svaret i paint.

### 1.4

In [15]:
theta1 = -1/10
theta2 = 1/10

U1_A = np.array([[(1/2) + theta1, 1], 
                   [1, (1/2) - theta1]])
U1_B = np.array([[-(1/2) - theta2, -1], 
                   [-1, -(1/2) + theta2]])


U2_A = np.array([[(1/2) + theta1, 1], 
                   [1, (1/2) - theta1]])
U2_B = np.array([[-(1/2) - theta2, -1], 
                   [-1, -(1/2) + theta2]])

In [16]:
U1 = [U1_A ,U1_B]
U2 = [U2_A,U2_B]

action = ['L','R']

BU1, BU2 = BNE.compute_full_matrix(U1,U2,(1/2), action, action)

#IESDS
# U1, U2, aa1, aa2 = IESDS.IESDS(BU1[0], BU2[0])

result = BNE.compute_bne(BU1[0],BU2[0])

print(f"p = {1/2}: BNE {result}")
display(BU1[1])
display(BU2[1])

p = 0.5: BNE [(array([1., 0.]), array([0., 0., 1., 0.])), (array([0., 1.]), array([0., 1., 0., 0.])), (array([0.6, 0.4]), array([0. , 0. , 0.2, 0.8]))]

    LL   LR   RL   RR
L -0.1 -0.3  0.2  0.0
R  0.0  0.3 -0.2  0.1

    LL   LR   RL   RR
L -0.1 -0.3  0.2  0.0
R  0.0  0.3 -0.2  0.1

In [17]:
U1 = [U1_A ,U1_B]
U2 = [U2_A,U2_B]

action = ['L','R']

BU1, BU2 = BNE.compute_full_matrix(U1,U2,(1/2), action, action)

#IESDS
U1, U2, aa1, aa2 = IESDS.IESDS(BU1[0], BU2[0])

result = BNE.compute_bne(U1,U2)

print(f"p = {1/2}: BNE {result}")
display(BU1[1])
display(BU2[1])

a=0 is strictly dominated by a=3
No further strategies to delete after 1 iterations
p = 0.5: BNE [(array([1., 0.]), array([0., 1., 0.])), (array([0., 1.]), array([1., 0., 0.])), (array([0.6, 0.4]), array([0. , 0.2, 0.8]))]

    LL   LR   RL   RR
L -0.1 -0.3  0.2  0.0
R  0.0  0.3 -0.2  0.1

    LL   LR   RL   RR
L -0.1 -0.3  0.2  0.0
R  0.0  0.3 -0.2  0.1